# Default values for compss-app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: albabsc/compss-k8s-gen
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: 3.3-deployment

compss:
  # namespace: {}
  master:
    labels:
      node: master
    ports:
      name: ssh
    # local volume in node where the master is executed
    volume: {}
    #  localPath: /home/acanete/compss-gen-results  # it has to exist locally
    #  node: agx12
    prometheusClient: 
      enabled: true
      buckets: "-inf, 0.0001, 0.0005, 0.001, 0.0025, 0.005, 0.01, 0.1, 1, 10, 50, 100, 200, inf" # Histogram bucket
      containerPort: 15000
      redisContainerPort: 6379

  worker:
    number: 1
    labels:
      node: worker
    resources:
      cpu: 4
      memory: 4  # in gigabytes
    ports:
      name: ssh
    prometheusClient: 
      enabled: false
      buckets: "-inf, 0.0001, 0.0005, 0.001, 0.0025, 0.005, 0.01, 0.1, 1, 10, 50, 100, 200, inf" # Histogram bucket
      containerPort: 15000
      redisContainerPort: 6379

  service:
    ssh: 22

app:
  context:
    folderPath: /home/acanete/gen
    file: gen.py
  params:
    num_individuals: "200"
    size: "200"
    target: "400"
    lifecycles: "10"
    get-fitness: "False"
    iterations: "1"
    sleep_tasks: "4"

monitoring:
  servicemonitor:
    releaseName: prometheus